.top-banner{
    display: flex;
    height:350px;
}
.half-width{
    margin:15px;
    padding: 20px;
    width:50%;
}
.half-width img{
    width: 100%;
    height: 100%;
}


/* make responsive */

@media only screen and (max-width:576px){
    .top-banner{
        display:block;
        height:630px;
    }
    .half-width{
        margin:5px;
        padding:10px;
        width:100%;
    }
    .half-width img{
        width: 100%;
        height: 300px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px){
    .top-banner{
        display:flex;
        height:350px;
    }
    .half-width{
        margin:10px;
        padding:10px;
        width:100%;
    }
    .half-width img{
        width: 100%;
        height: 330px;
    }
}