.footer{
    background-color:black;
    height:120px;
    color:white;
    text-align:center;
}
.footer p{
    text-align:center;
}

.footer a{
    text-decoration: none;
    margin-right: 25px;
    color: white;
}